[Unit]
Description=Telegram Bot

[Service]
User=root
WorkingDirectory=~/crypto_info
VIRTUAL_ENV=~/crypto_info/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=~/crypto_info/venv/bin/python ~/crypto_info/bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target
